@{
    ViewData["Title"] = "Главная";
}

<div class="divBody">
    <main class="card-container">
        <div class="card square-card">
            <div class="down">
                <div class="up">
                    <div class="squeeze">
                        <div class="rotate-in">
                            <div class="rotate-out">
                                <div class="square"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ball-bouncing">
            <div class="ball"></div>
        </div>
        <div class="card ball-movement">
            <div class="ball"></div>
        </div>
        <div class="card counter"></div>
    </main>


</div>
 