@model RailwayTrafficSolution.Models.Train
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@{
    ViewData["Title"] = "Изменение";
}

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainId" />
            <div class="form-group">
                <label asp-for="TrainNumber" class="control-label"></label>
                <input asp-for="TrainNumber" class="form-control" />
                <span asp-validation-for="TrainNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceInKm" class="control-label"></label>
                <input asp-for="DistanceInKm" class="form-control" data-val="true" data-val-float="Пожалуйста введте вещественое чилсло: 1 или 1.5" />
                <span asp-validation-for="DistanceInKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBrandedTrain" class="control-label">Является брэндированным?:</label>
                <select asp-for="IsBrandedTrain" class="form-control">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
                <span asp-validation-for="IsBrandedTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainTypeId" class="control-label"></label>
                <select asp-for="TrainTypeId" class="form-control" asp-items="ViewBag.TrainTypeId"></select>
                <span asp-validation-for="TrainTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>
