@model RailwayTrafficSolution.Models.Stop

@{
    ViewData["Title"] = "Создание записи";
}


<h4>Остановка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRailwayStation" class="control-label">Является ЖД станцией?:</label>
                <select asp-for="IsRailwayStation" class="form-control">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
                <span asp-validation-for="IsRailwayStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasWaitingRoom" class="control-label">Есть команата ожидания?:</label>
                <select asp-for="HasWaitingRoom" class="form-control">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
                <span asp-validation-for="HasWaitingRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>
